* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide {
  height: 100%;
  width: 300px;
  position: absolute;
  transition: 0.5s ease;
  transform: translateX(-300px);
}
.album-cover {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 5px;
}
/* .song-time {
  margin-left: 70px;
} */
h1 {
  font-weight: 800;
  text-align: right;
  padding: 10px 0;
  padding-right: 30px;
  pointer-events: none;
}
ul li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: #000000;
}
li:hover {
  background-color: #ccc;
  cursor: pointer;
}
#menu {
  display: none;
  visibility: hidden;
  -webkit-appearance: none;
}
.toggle {
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: 10;
  cursor: pointer;
  top: 20px;
  left: 15px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.toggle .common {
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #000000;
  border-radius: 50px;
  transition: 0.3s ease;
}
.toggle .top_line {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toggle .middle_line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toggle .bottum_line {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#menu:checked ~ .toggle .top_line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(45deg);
}
#menu:checked ~ .toggle .bottum_line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(-45deg);
}
#menu:checked ~ .toggle .middle_line {
  opacity: 0;
  transform: translateX(20);
}
#menu:checked ~ .slide {
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.container {
  width: 100%;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.music-player {
  position: relative; /* Default desktop view */
  width: 300px;
  height: auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  box-shadow: -4px -3px 101px -4px rgba(0, 0, 0, 0.93);
  transition: transform 0.3s ease-in-out;
}

.album-art img {
  width: 100%;
  border-radius: 10px;
}
#song-title {
  margin-top: 15px;
}
#artist-name {
  margin-top: 15px;
}

.controls button {
  font-size: 1em;
  margin: 10px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.controls button:hover {
  color: #1db954;
}
.controls {
  display: flex;
  justify-content: center;
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
  /* border: 1px solid red; */
}
#progress {
  flex: 1;
  height: 4px;
  margin: 0 10px;
}
.icon {
  width: 35px;
  height: 35px;
}
.icon:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 450px) {
  body {
    justify-content: center;
    overflow-y: hidden;
  }
  .music-player {
    position: fixed;
    top: 0;
    left: 0;
    right: 10%;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    transition: transform 0.3s ease-in-out;
  }
  .controls {
    width: 60%;
    justify-content: space-between;
  }
  ul li {
    border-bottom: 1px solid #505050;
  }
  .slide {
    background-color: #ccc;
    z-index: 1;
  }
  li:hover {
    background-color: lightgray;
    cursor: pointer;
  }
  .a

  /* By default hidden */
  .music-player.hidden {
    transform: translateY(100%);
  }

  /* Menu open hone par visible hoga */
  .menu-open .music-player {
    transform: translateY(0);
  }
  .controls button {
    font-size: 2rem;
    z-index: 1;
  }
  #song-title {
    font-size: 1.5rem;
    color: #000000;
    /* margin-top: 50px; */
  }
  #artist-name {
    font-size: 1.5rem;
    color: #000000;
  }
  .search-container {
    visibility: hidden;
    width: 0;
  }
  /* #current-time {
    color: #080808;
  }
  #duration {
    color: #0f0f0f;
  } */
}
